.cards-container {
  width: wrap-content;
  background-color:#00000058;
  border-radius: 25px;
  padding: 25px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

  transition: all 0.3s ease-in-out;
}

.card {
  width: 150px;
  height: 225px;
  position: relative;

  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  
  transition: all 0.2s ease-in-out;
}

.card .icon {
  width: 50%;
  height: auto;
  position: absolute;
  top: 15%;
  left: 25%;
  
  filter: grayscale(100%) brightness(5);
  z-index: 1;
}

.card svg {
  width: 100%;
  height: auto;
  z-index: 0;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 800px) {
  .card {
    width: 100px;
    height: 140px;
  }

  .cards-container {
    gap: 25px;
  }

}

@media (max-width: 400px) {
  .card {
    width: 70px;
    height: 100px;
  }

  .cards-container {
    gap: 10px;
  }
}
